In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
import os
from ucimlrepo import fetch_ucirepo

In [14]:
data_dir = "../data/raw"
name = "credit_default.csv"

In [12]:
def download_data(file_name, id=350):
    if not os.path.exists(data_dir):
        os.makedirs(data_dir)
    file_path = os.path.join(data_dir, name)
    if not os.path.isfile(file_path):
        dataset = fetch_ucirepo(id = id)
        df = dataset.data.original
        with open(file_path, 'w') as f:
            f.write(df.to_csv(index=False))
    else:
        df = pd.read_csv(file_path)
    
    return df

In [13]:
data = download_data(name, id=350)
data.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0